* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'century-gothic-bold', sans-serif;
}

.text-wrap {
    .title {
        font-size: 34px;
        margin-bottom: 30px;
    }
    
    .subtitle {
        font-size: 20px;
        margin-top: 70px;
        line-height: 20px;
        margin-bottom: 30px;
    }
    
    h3 {
        margin-top: 70px;
        margin-bottom: 30px;
        line-height: 20px;
        span {
            font-size: 20px;
            margin-top: 70px;
            margin-bottom: 30px; 
        }
    }

    a {
        color: orange;
        text-decoration: underline;
    }
    
    
    p {
        font-size: 18px;
        line-height: 24px;
        color: #43464E;
        margin-bottom: 30px;
    }

    .text-center {
        display: block;
        text-align: center;
        br {
            display: none;
        }
    }
    
    
    li {
        font-size: 18px;
        line-height: 24px;
        color: #43464E;
        margin-bottom: 30px;
    }
    
    .container {
        max-width: 825px;
        width: 100%;
        margin: 0 auto;
        padding-top: 200px;
        padding-bottom: 200px;
        @include for-mobile {
            padding: 5% 5%;
        }
    }
    
    ul {
        list-style-type: disc;
        transform: translateX(20px);
        @include for-mobile {
            width: 95%;
        }
    }

    ol {
        list-style-type: decimal;
        list-style-position: inside;
        li {
            p {
                display: inline;
            }
        }
    }

    table {
        tr {
            min-height: 20px;
            td {
                white-space: pre-line;
                width: 33%;
                border: 1px solid #000;
                padding: 5px;
            }
        }
    }
}

